<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
  const roomName = "<%= roomName %>"
  </script>
    <script>
      const userID = "<%= userID %>"
    
      </script> 
  <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  <script defer src="https://mysterious-lowlands-94558.herokuapp.com/socket.io/socket.io.js"></script>

  <script defer src="script.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
  </style>
</head>
<body>
    <div id="room-container1"></div>
  <div id="message-container1">
    <% Object.keys(data).forEach(chat => { %>
      <div><%= data[chat].sender_id %> : <%= data[chat].message %></div>
    <% }) %>
  </div>
  <form id="send-container1">
    <input type="text" id="message-input1">
    <button type="submit" id="send-button1">Send</button>
  </form>
</body>
</html>